* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 16px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}

.words {
    column-count: 2;
    margin-bottom: 50px;
}

v1, v2, v3 {
        font-size: 16px;
    line-height: 1.4;
}

v1 {
    font-weight: 700;
}

v2 {
    color: #aaa;
}

v3 {
    font-style: italic;
    color: #aaa;
}

.text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.trans-title {
    color: #aaa;
}

.translate {
    font-size: 16px;
    line-height: 1.4;
    color: #aaa;
}

.block-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
}